#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}

#welcome-info {
    overflow: hidden;
    --icat-card-welcome: #49b1f5;
  }
  #welcome-info .welcome-time {
    width: 100%;
    margin: 12px 0 0;
    display: inline-flex;
  }
  #welcome-info .welcome-message {
    width: 100%;
    margin-bottom: 8px;
    display: inline-flex;
  }
  #welcome-info .welcome-region {
    background: var(--icat-background);
    border: var(--style-border);
    color: var(--icat-fontcolor);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    margin: 6px 0;
  }